:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 1fr;
  gap: 2%;
}

#searchField {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-width: 70vw;
}

#myInput {
  font-size: 16px;

  border: 1px solid #ddd;

  padding: 12px 20px 12px 40px;
  width: 25%;
}

#myUL {
  width: 28.4%;

  list-style-type: none;

  padding: 0px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
  }
}

@media (prefers-color-scheme: light) {}